In [2]:
import yaml
import pandas as pd



# Load YAML data from a file
with open('customer_demographics.yaml', 'r') as yaml_file:
    yaml_data = yaml.safe_load(yaml_file)

# Create a list of dictionaries with the desired column names
data_list = []
for customer_id, details in yaml_data.items():
    data_list.append({
        'address': details.get('address'),
        'city': details.get('city'),
        'credit_card_expires': details.get('credit_card_expires'),
        'credit_card_number': details.get('credit_card_number'),
        'credit_card_provider': details.get('credit_card_provider'),
        'credit_card_security_code': details.get('credit_card_security_code'),
        'customer_id': details.get('customer_id'),
        'email': details.get('email'),
        'name': details.get('name'),
        'phone_number': details.get('phone_number'),
        'state': details.get('state'),
        'zip_code': details.get('zip_code'),
    })

# Convert the list of dictionaries to Pandas DataFrame
cust_demo = pd.DataFrame(data_list)

In [3]:
cust_demo.head()

,address,city,credit_card_expires,credit_card_number,credit_card_provider,credit_card_security_code,customer_id,email,name,phone_number,state,zip_code
0,621 Chavez Ramp Suite 938,West Deniseport,06/31,2269172571677458,Diners Club / Carte Blanche,338,a8c966a0-b670-4044-826c-0e6bfe708259,brett00@example.com,Ronald Rodgers,None,New York,59237
1,592 Mccoy River,Port Dannymouth,11/24,676320507830,JCB 16 digit,246,56b850e0-9320-4aa0-8cd4-d1199903c90e,smithjennifer@example.net,Mary Mitchell,None,Montana,17401
2,8923 Aaron Turnpike,Port Rhondaton,11/31,4607779976715144588,JCB 16 digit,869,5ec9f613-adb1-4e69-8a1a-9530cb777886,twhite@example.net,Nathan Wells,+1-893-568-2182x593,North Dakota,07166
3,496 Margaret Shoals,Smithborough,04/33,4234465830748237,Mastercard,497,ca182662-b281-433a-a82b-8e061f7bf2cd,nguyenjennifer@example.com,Kelly Ramos,820-824-2003,Iowa,42755
4,0807 Logan Fords Suite 355,Contrerasside,10/25,4985681645741,Discover,927,1e7c3a60-4788-4711-809f-b6f8bfbdb18a,michaelabarr@example.net,Rebekah Fitzgerald,+1-269-384-1623x34240,Connecticut,64282

In [4]:
cust_stat = pd.read_csv('customer_statistics.csv')
cust_stat.head()

   customer_id  total_orders  total_items  total_spent
0         8037             5           20       300.39
1         4290             2            3       332.66
2         5367             3            7       643.27
3         4755            10           12       649.12
4         2651            10            9       794.28

In [5]:
orders = pd.read_csv('orders.csv')
orders.head()

,order_id,customer_id,items,aperitifs,appetizers,entrees,desserts,total
0,f1d6b4c4-0f9f-4ba6-8d5d-f7e4ef7cd9a0,2652,7,Aperol Spritz,Pate,Pork,Tiramisu,751.87
1,7b8a732e-85a0-4fa2-b282-a2d232ee182e,1756,3,Sherry,Pate,Pasta,Cheesecake,156.43
2,1eab436d-2acb-4bc8-b849-fbce859ffd8a,2989,5,Bellini,Pate,Lobster,Chocolate Cake,364.13
3,d6313392-8901-42f6-bf8a-4805fe816a46,9903,3,Sherry,Salad,Pizza,Cheesecake,805.62
4,f73f8c45-28c2-473f-a3ba-e65ed5890ac6,8627,2,Port,Pate,Lobster,Pie,638.43

In [6]:
len(cust_demo)
len(cust_stat)

10000

In [7]:
merged_data = cust_demo.merge(cust_stat, left_index=True, right_index=True)
merged_data.head()

,address,city,credit_card_expires,credit_card_number,credit_card_provider,credit_card_security_code,customer_id_x,email,name,phone_number,state,zip_code,customer_id_y,total_orders,total_items,total_spent
0,621 Chavez Ramp Suite 938,West Deniseport,06/31,2269172571677458,Diners Club / Carte Blanche,338,a8c966a0-b670-4044-826c-0e6bfe708259,brett00@example.com,Ronald Rodgers,None,New York,59237,8037,5,20,300.39
1,592 Mccoy River,Port Dannymouth,11/24,676320507830,JCB 16 digit,246,56b850e0-9320-4aa0-8cd4-d1199903c90e,smithjennifer@example.net,Mary Mitchell,None,Montana,17401,4290,2,3,332.66
2,8923 Aaron Turnpike,Port Rhondaton,11/31,4607779976715144588,JCB 16 digit,869,5ec9f613-adb1-4e69-8a1a-9530cb777886,twhite@example.net,Nathan Wells,+1-893-568-2182x593,North Dakota,07166,5367,3,7,643.27
3,496 Margaret Shoals,Smithborough,04/33,4234465830748237,Mastercard,497,ca182662-b281-433a-a82b-8e061f7bf2cd,nguyenjennifer@example.com,Kelly Ramos,820-824-2003,Iowa,42755,4755,10,12,649.12
4,0807 Logan Fords Suite 355,Contrerasside,10/25,4985681645741,Discover,927,1e7c3a60-4788-4711-809f-b6f8bfbdb18a,michaelabarr@example.net,Rebekah Fitzgerald,+1-269-384-1623x34240,Connecticut,64282,2651,10,9,794.28

In [9]:
merged_data = merged_data.rename(columns={'customer_id_y': 'customer_id'})
df = merged_data.merge(orders, on='customer_id')
df = df.rename(columns={'customer_id_x': 'customer_id_demo'})

In [11]:
cust_demo[cust_demo.isnull().any(axis=1)]

,address,city,credit_card_expires,credit_card_number,credit_card_provider,credit_card_security_code,customer_id,email,name,phone_number,state,zip_code
0,621 Chavez Ramp Suite 938,West Deniseport,06/31,2269172571677458,Diners Club / Carte Blanche,338,a8c966a0-b670-4044-826c-0e6bfe708259,brett00@example.com,Ronald Rodgers,None,New York,59237
1,592 Mccoy River,Port Dannymouth,11/24,676320507830,JCB 16 digit,246,56b850e0-9320-4aa0-8cd4-d1199903c90e,smithjennifer@example.net,Mary Mitchell,None,Montana,17401
6,349 Martinez Turnpike,Port Mikaylashire,11/24,2364648842479646,Discover,155,6c84a42c-895d-4c26-8db7-99e0e01ddb6f,quinnrachael@example.net,Paul Reed,None,New Hampshire,63162
14,75490 Lisa Hollow Apt. 471,North Traciton,04/33,3575461165129191,Mastercard,808,74fb06eb-bff1-48c5-be74-414cb148522a,garciadonald@example.net,Cassandra Long,None,Tennessee,56838
16,071 Michael Keys Apt. 335,North Katelyn,03/24,3548928942320537,Mastercard,998,0a05bb69-0f3e-4b3a-9260-f63523113dae,christine22@example.net,Roger Randall,None,Arizona,01048
...,...,...,...,...,...,...,...,...,...,...,...,...
9990,909 David Mission Suite 354,South Christopher,06/25,213105167494301,VISA 16 digit,252,09ac1785-ef58-4def-8743-d59cb3cb13e2,None,Valerie Herman,+1-347-571-5809,Kansas,10865
9991,3723 Carr Lake Apt. 022,Kaylaview,10/31,6011178270385113,Maestro,435,bf27a877-db10-4dd4-b467-e005ec738468,None,Zachary Murray,847-844-0425,Kentucky,44173
9993,45292 Amy Stream,Martinezland,11/30,4011981090951526,JCB 16 digit,849,12f10986-8ece-46d5-b853-1fcb7cbc270d,None,Gabrielle Carter,001-816-334-9707,Vermont,65616
9998,35316 Becky Terrace,Port Donald,04/24,6595168672629675,JCB 16 digit,113,7caf0251-8040-4c1e-8190-46133fde16ab,andreawilliams@example.org,Karen Green,None,Nevada,97426
9999,6101 Thompson Ridges Apt. 896,Marissamouth,05/25,4999092953838318200,Diners Club / Carte Blanche,810,3b343ad7-9d47-43c6-98d7-8a1c0bfebf12,anthonykemp@example.net,Marissa Garrett,None,Nevada,22202

In [13]:
import numpy as np
cc_number_nulls = cust_demo.loc[cust_demo['credit_card_number'].isin([np.NaN, None])]
cc_number_nulls

,address,city,credit_card_expires,credit_card_number,credit_card_provider,credit_card_security_code,customer_id,email,name,phone_number,state,zip_code
19,71731 Allen Fields Apt. 655,Reillyshire,None,None,None,None,5ade286f-4303-4589-85b6-6f6f557fb7db,joshua09@example.com,John Horton,None,Minnesota,24845
94,10327 Lopez Courts Suite 542,Kellyside,None,None,None,None,fc29c7a3-d59c-486b-8604-8d1d363df829,btorres@example.org,Victor Morgan,001-685-302-2684,Nebraska,40860
104,29037 Yvonne Rest,Aliciamouth,None,None,None,None,b6b6dea6-da05-41e8-8ca4-d229f86a7961,brian66@example.net,Elizabeth Gutierrez,+1-228-985-0845x236,Florida,44108
134,37375 Brown Roads Suite 141,Henryview,None,None,None,None,00005790-dc37-40e1-95da-5814c9d053e0,fhamilton@example.org,Adam Perry,+1-690-353-8732x19819,Washington,42268
140,0202 Johnny Mall Suite 062,New Randy,None,None,None,None,7d76ae4e-4838-45a8-b57a-51f00756be56,leonarderic@example.org,Jessica Obrien,761-565-3113x88668,Oklahoma,72856
...,...,...,...,...,...,...,...,...,...,...,...,...
9854,677 Vanessa Trail,Thompsonside,None,None,None,None,3a39668b-1f66-42a3-9f2b-fc747527feba,melindaestes@example.org,Matthew Smith,358-527-9362,Maine,32656
9865,5362 Corey Grove,Amyton,None,None,None,None,8c242c80-3699-4e9b-be62-b4bbe15a1593,butlersara@example.com,Mark Ellison,+1-502-259-6167x390,New York,43860
9911,9805 Jensen Road,Smithstad,None,None,None,None,cc317fe9-0e5e-4a0b-b5f6-6bc095fc698b,None,Yvonne Berg,580.398.7684,Illinois,96882
9961,756 Coleman Roads,Holmestown,None,None,None,None,4eba722a-6158-4516-8956-5385638e8edd,tony77@example.com,Don Bell,908-466-0269,Washington,03584
9980,8128 Matthew Harbors Apt. 166,North Katrina,None,None,None,None,a4059177-c608-4983-974f-d687404d5e4a,whitegilbert@example.org,Rebecca Smith,(569)632-1231,Wyoming,74563

In [15]:
email_nulls = cust_demo.loc[cust_demo['email'].isin([np.NaN, None])]
email_nulls

,address,city,credit_card_expires,credit_card_number,credit_card_provider,credit_card_security_code,customer_id,email,name,phone_number,state,zip_code
25,869 Stephen Prairie Suite 679,New Sherri,08/31,630420755880,VISA 13 digit,141,f4966264-2f44-401c-9ddc-57e68d054897,None,Jamie Pham,None,Louisiana,32276
39,None,None,09/31,4670744779131736155,JCB 15 digit,396,d395c142-eb7b-4bc6-ba2d-f80741d65f81,None,Christine Berger,001-888-684-5983x18321,None,None
48,61818 Matthew Burgs,Angelamouth,06/32,180007544472845,Mastercard,592,64e06fe2-46cd-4ee3-b1a3-fce55fe2a9a4,None,Zachary Cox MD,(878)527-7128x95634,North Carolina,62281
50,345 Daniels Shore,New Christinabury,02/24,4535322660341026105,Discover,366,febb756d-036c-433b-9985-bd1ffad6ba14,None,Seth Curry,730-812-7028,Pennsylvania,07858
51,34642 Connor Roads,Philipland,10/33,2265598301907902,VISA 13 digit,4815,9c663012-409b-44d9-818a-9547bb88988b,None,Terry Short,(206)542-8671,New Mexico,34660
...,...,...,...,...,...,...,...,...,...,...,...,...
9972,0612 Teresa Manors,East Laurenton,03/29,213113994343329,Mastercard,242,81d41f7d-498f-489f-8b90-4008ee2de6a8,None,Karla Rogers,609-362-9872,Nebraska,74366
9975,9622 Mitchell Forks Apt. 500,West Katherineburgh,10/24,3573953443784476,American Express,132,9e45d985-2eb9-408b-a043-e43df46e2ab5,None,Tara Wilson,862-425-3311,Utah,85407
9990,909 David Mission Suite 354,South Christopher,06/25,213105167494301,VISA 16 digit,252,09ac1785-ef58-4def-8743-d59cb3cb13e2,None,Valerie Herman,+1-347-571-5809,Kansas,10865
9991,3723 Carr Lake Apt. 022,Kaylaview,10/31,6011178270385113,Maestro,435,bf27a877-db10-4dd4-b467-e005ec738468,None,Zachary Murray,847-844-0425,Kentucky,44173
9993,45292 Amy Stream,Martinezland,11/30,4011981090951526,JCB 16 digit,849,12f10986-8ece-46d5-b853-1fcb7cbc270d,None,Gabrielle Carter,001-816-334-9707,Vermont,65616

In [16]:
address_nulls = cust_demo.loc[cust_demo['address'].isin([np.NaN, None])]
address_nulls

,address,city,credit_card_expires,credit_card_number,credit_card_provider,credit_card_security_code,customer_id,email,name,phone_number,state,zip_code
39,None,None,09/31,4670744779131736155,JCB 15 digit,396,d395c142-eb7b-4bc6-ba2d-f80741d65f81,None,Christine Berger,001-888-684-5983x18321,None,None
49,None,None,09/29,676321030782,American Express,387,fb4545ca-cf31-4d56-a49a-e62f8e163914,smithstephen@example.net,Teresa Coleman,None,None,None
77,None,None,07/29,4707326708943334,Maestro,372,fcf9e6bd-1376-4073-b709-b3c9ef9d1f45,danielle53@example.com,Emily Calderon,(983)951-5387x749,None,None
110,None,None,12/30,4100785699176743759,JCB 16 digit,483,22d194fe-e5f3-4a39-bf02-92a2cbff5f8a,daughertylucas@example.net,Amanda Brooks,890.912.5821x303,None,None
115,None,None,04/30,30327896119162,Diners Club / Carte Blanche,713,48d6af06-5140-4373-ba9a-a55ab202d1c6,myersjacqueline@example.com,Steven Roberson,(829)865-2660x480,None,None
...,...,...,...,...,...,...,...,...,...,...,...,...
9899,None,None,01/34,213102409644538,VISA 13 digit,414,9789631b-f2a1-4b07-a573-a0dd4aa0a81c,shelbyrussell@example.org,Ann Monroe,(258)956-7070x394,None,None
9935,None,None,11/26,4217436145329741,Mastercard,440,4927f13c-daaa-488c-acf3-055280f6eca9,jenkinsjason@example.net,David Graham,(389)614-6154x9547,None,None
9943,None,None,05/26,4883553772281,American Express,519,939eb372-9e29-4cf4-b1cf-287e703744af,cassandradorsey@example.com,Michaela Long,+1-538-690-9862,None,None
9956,None,None,10/24,4854134154674408,JCB 16 digit,082,5676c822-e7ce-41f6-ab93-0614acc250c7,maryjones@example.com,Lisa Lynch,001-951-909-8054x535,None,None
9959,None,None,03/31,2261676998934118,VISA 13 digit,557,d324d097-ad7e-48fc-981f-632d25c23263,mooneyamber@example.net,Gary Chen,(349)746-4009x060,None,None

In [17]:
phone_nulls = cust_demo.loc[cust_demo['phone_number'].isin([None])]
phone_nulls

,address,city,credit_card_expires,credit_card_number,credit_card_provider,credit_card_security_code,customer_id,email,name,phone_number,state,zip_code
0,621 Chavez Ramp Suite 938,West Deniseport,06/31,2269172571677458,Diners Club / Carte Blanche,338,a8c966a0-b670-4044-826c-0e6bfe708259,brett00@example.com,Ronald Rodgers,None,New York,59237
1,592 Mccoy River,Port Dannymouth,11/24,676320507830,JCB 16 digit,246,56b850e0-9320-4aa0-8cd4-d1199903c90e,smithjennifer@example.net,Mary Mitchell,None,Montana,17401
6,349 Martinez Turnpike,Port Mikaylashire,11/24,2364648842479646,Discover,155,6c84a42c-895d-4c26-8db7-99e0e01ddb6f,quinnrachael@example.net,Paul Reed,None,New Hampshire,63162
14,75490 Lisa Hollow Apt. 471,North Traciton,04/33,3575461165129191,Mastercard,808,74fb06eb-bff1-48c5-be74-414cb148522a,garciadonald@example.net,Cassandra Long,None,Tennessee,56838
16,071 Michael Keys Apt. 335,North Katelyn,03/24,3548928942320537,Mastercard,998,0a05bb69-0f3e-4b3a-9260-f63523113dae,christine22@example.net,Roger Randall,None,Arizona,01048
...,...,...,...,...,...,...,...,...,...,...,...,...
9968,115 Kayla Ridges,Maxwellburgh,06/25,4851855468141071,Diners Club / Carte Blanche,227,8e860e6f-a73e-4339-8a4c-0f57f298c2c8,amcdaniel@example.org,Sandra Smith,None,South Carolina,92055
9978,5453 Dyer Parkway,Port Tonya,10/33,4476003298520215,VISA 16 digit,412,98b25f5b-958d-4324-a9cc-01f0f5e01f7a,uprice@example.com,Heidi Rodriguez,None,New York,79287
9988,34042 Owens Points,Mitchellport,02/28,30267953997912,Mastercard,333,400ad867-f364-4987-af4b-6577ead58d0b,samanthamichael@example.net,Marcus Graham,None,Vermont,65360
9998,35316 Becky Terrace,Port Donald,04/24,6595168672629675,JCB 16 digit,113,7caf0251-8040-4c1e-8190-46133fde16ab,andreawilliams@example.org,Karen Green,None,Nevada,97426
9999,6101 Thompson Ridges Apt. 896,Marissamouth,05/25,4999092953838318200,Diners Club / Carte Blanche,810,3b343ad7-9d47-43c6-98d7-8a1c0bfebf12,anthonykemp@example.net,Marissa Garrett,None,Nevada,22202

In [19]:
df['phone_number'] = df['phone_number'].str.replace(r'\D', '')
df

,address,city,credit_card_expires,credit_card_number,credit_card_provider,credit_card_security_code,customer_id_demo,email,name,phone_number,...,total_orders,total_items,total_spent,order_id,items,aperitifs,appetizers,entrees,desserts,total
0,621 Chavez Ramp Suite 938,West Deniseport,06/31,2269172571677458,Diners Club / Carte Blanche,338,a8c966a0-b670-4044-826c-0e6bfe708259,brett00@example.com,Ronald Rodgers,None,...,5,20,300.39,d69f5665-4fbd-439d-8a69-78cc8ee5e6b6,6,Kir Royale,Charcuterie,Pasta,Creme Brulee,802.81
1,5256 Deleon Trail Suite 531,Jensenburgh,03/24,2523870337522643,Diners Club / Carte Blanche,281,a4e3618a-b0f2-4d81-8730-0f5650ee42aa,qharvey@example.net,Bobby Chapman,None,...,10,5,320.58,d69f5665-4fbd-439d-8a69-78cc8ee5e6b6,6,Kir Royale,Charcuterie,Pasta,Creme Brulee,802.81
2,300 Corey Ferry,Port John,08/28,630495016804,Discover,4056,4fff90ba-46d8-43bb-baff-e5b4bdb1b191,qlamb@example.net,Miranda Porter,(588)462-6702,...,4,14,757.33,d69f5665-4fbd-439d-8a69-78cc8ee5e6b6,6,Kir Royale,Charcuterie,Pasta,Creme Brulee,802.81
3,496 Margaret Shoals,Smithborough,04/33,4234465830748237,Mastercard,497,ca182662-b281-433a-a82b-8e061f7bf2cd,nguyenjennifer@example.com,Kelly Ramos,820-824-2003,...,10,12,649.12,1e2d2b43-e6e8-4758-aa99-60499228cc1c,4,Vermouth,Caviar,Pizza,Creme Brulee,181.76
4,713 Santos Summit,Bennettberg,09/26,378189204316512,American Express,206,07116347-7434-4e7d-9562-8bc63166af2d,cummingsgary@example.org,Donald Leonard,478-216-8250x29488,...,2,5,229.19,1e2d2b43-e6e8-4758-aa99-60499228cc1c,4,Vermouth,Caviar,Pizza,Creme Brulee,181.76
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
10001,909 David Mission Suite 354,South Christopher,06/25,213105167494301,VISA 16 digit,252,09ac1785-ef58-4def-8743-d59cb3cb13e2,None,Valerie Herman,+1-347-571-5809,...,8,16,202.09,d5eba473-c87f-4e82-8142-0d2af8f56474,2,Campari and Soda,Oysters,Vegetarian,Cheesecake,654.58
10002,45292 Amy Stream,Martinezland,11/30,4011981090951526,JCB 16 digit,849,12f10986-8ece-46d5-b853-1fcb7cbc270d,None,Gabrielle Carter,001-816-334-9707,...,8,15,514.00,489b6b06-6926-4e91-8b38-0f40ebdacdca,4,Americano,Salad,Duck,Cheesecake,297.94
10003,45292 Amy Stream,Martinezland,11/30,4011981090951526,JCB 16 digit,849,12f10986-8ece-46d5-b853-1fcb7cbc270d,None,Gabrielle Carter,001-816-334-9707,...,8,15,514.00,4ef23b06-aa7c-42e0-9bd3-4757a29a368d,5,Negroni,Charcuterie,Vegetarian,Tiramisu,732.34
10004,35316 Becky Terrace,Port Donald,04/24,6595168672629675,JCB 16 digit,113,7caf0251-8040-4c1e-8190-46133fde16ab,andreawilliams@example.org,Karen Green,None,...,5,1,105.75,d0800680-98ba-41f7-8b26-3cac36b967dd,5,Aperol Spritz,Cheese Plate,Pasta,Creme Brulee,406.35
10005,6101 Thompson Ridges Apt. 896,Marissamouth,05/25,4999092953838318200,Diners Club / Carte Blanche,810,3b343ad7-9d47-43c6-98d7-8a1c0bfebf12,anthonykemp@example.net,Marissa Garrett,None,...,2,8,918.60,074e04e7-885f-4011-8cd0-e1efd403479e,5,Negroni,Oysters,Chicken,Cookies,480.15

In [23]:

df.groupby("state")["order_id"].nunique().nlargest(10)

state
Florida         240
Arkansas        218
Georgia         213
New Jersey      211
Nebraska        209
Pennsylvania    209
Vermont         208
Nevada          204
Wyoming         204
Rhode Island    203
Name: order_id, dtype: int64

In [28]:
import pandas as pd
from sqlalchemy import create_engine

In [29]:
engine = create_engine('sqlite:///PEP1_db.db')

In [30]:
df.to_sql('restaurant_table', con=engine, index=False, if_exists='replace')

10006